@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545687;
}

.calculatorBody {
    background-color: #403d72;
    width: 318px; /*296+16*/
    height: 528px; /*512+16*/
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    align-content: space-between;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.display {
    font-family: '5by7Regular';
    width: 286px;
    height: 136px;
    background-color: #18152659;
    color: #cddbfb;
    /*mix-blend-mode: multiply;*/
    border-radius: 16px;
    display: flex;
    padding: 15px 20px;
    justify-content: flex-end;
    align-items: end;
    font-size: 45px;
    line-height: 1;
    letter-spacing: 0em;
    word-break: break-all;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
}

button {
    color: #cddbfb;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    background-color: #312b4c59;
    border-color: #2e274ead;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    padding: 0px;
    margin: 0px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #1d173a59;
    border-color: #2a234bad;
}

button.operator,
button#equals {
    font-size: 25px;
    color: #cddbfb;
    background-color: #2a0add59;
    border-color: #2e274ead;
    transition: 0.4s;
}

button.operator.operatorActive,
button.operator:hover,
button#equals:hover {
    background-color: #cddbfb;
    color: #300cf9;
    border-color: #2f18af;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}


button.special {
    color: #261f4a;
    background-color: #b9b5e37a;
    border-color: #161326ad;
}

button.special:hover {
    background-color: #c9c5fa9c;
    border-color: #221d3dad;
}

#zero {
    width: 138px;
}